* {
    box-sizing:border-box;
}
body {
    background: black;
    margin:0;
    padding:0;
    overflow-y: hidden; 
}
.map-container {
    height:800px;
    width:1280px;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.map {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
}
.location {
    border-radius: 50%;
    background: white;
    height:16px;
    width:16px;
    position: absolute;
    z-index: 15;
}
.ring {
    border: 2px solid white;
    -webkit-border-radius: 30px;
    height: 22px;
    width: 22px;
    left:-3px;
    top:-3px;
    position: absolute;
    opacity: 0;
    -webkit-animation: pulsate .8s ease-out;
    -webkit-animation-iteration-count: infinite; 
    z-index: 16;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(2.5, 2.5); opacity: 0.0;}
}
/*--------------------------------------------------------------CITIES*/
.houston {
    left:679px;
    top:605px;
}
.miramar {
    left:1019px;
    top:687px;
}
.riverhead {
    left:1105px;
    top:270px;
}
.morgan-state {
    left:1040px;
    top:325px;
}
.camp-blanding {
    left:968px;
    top:585px;
}
.lamar {
    left:705px;
    top:458px;
}
.st-joseph {
    left:1073px;
    top:256px;
}
/*--------------------------------------------------------------STATES*/
.state {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
}
#texas {
    left: 433px;
    top:441px;
}
#california {
    left:117px;
    top:223px;
}
#new-mexico {
    left: 379px;
    top:413px;
}
#washington {
    left: 171px;
    top:57px;
}
#oregon {
    left: 133px;
    top:121px;
}
#idaho {
    left: 268px;
    top:81px;
}
#nevada {
    left: 193px;
    top:245px;
    z-index: 7;
}
#montana {
    left: 319px;
    top:85px;
}
#wyoming {
    left: 375px;
    top: 202px;
}
#utah {
    left: 298px;
    top: 269px;
}
#arizona {
    left: 259px;
    top: 397px;
}
#colorado {
    left: 399px;
    top: 311px;
}
#north-dakota {
    left: 520px;
    top: 116px;
}
#south-dakota {
    left: 514px;
    top: 194px;
}
#nebraska {
    left: 509px;
    top: 269px;
}
#kansas {
    left: 541px;
    top: 351px;
}
#oklahoma {
    left: 521px;
    top: 426px;
}
#minnesota {
    left: 644px;
    top: 112px;
}
#iowa {
    left: 653px;
    top: 260px;
}
#arkansas {
    left: 670px;
    top: 335px;
}
#missouri {
    left: 694px;
    top: 442px;
}
#louisiana {
    left: 707px;
    top: 533px;
}
#wisconsin {
    left: 722px;
    top: 171px;
    z-index: 3;
}
#illinois {
    left: 753px;
    top: 282px;
}
#kentucky {
    left: 803px;
    top: 363px;
}
#tennessee {
    left: 788px;
    top: 420px;
}
#mississippi {
    left: 761px;
    top: 476.5px;
}
#michigan {
    left: 766px;
    top: 154px;
    z-index: 2;
}
#indiana {
    left: 826px;
    top: 296px;
}
#alabama {
    left: 829px;
    top: 472px;
}
#florida {
    left: 849px;
    top: 570px;
}
#ohio {
    left: 879px;
    top: 278px;
}
#west-virginia {
    left: 932px;
    top: 319px;
    z-index: 4;
}
#virginia {
    left: 927px;
    top: 338px;
}
#north-carolina {
    left: 909px;
    top: 400px;
}
#south-carolina {
    left: 930px;
    top: 456px;
}
#georgia {
    left: 883px;
    top: 467px;
}
#new-york {
    left: 973px;
    top: 175px;
}
#pennsylvania {
    left: 959px;
    top: 259px;
}
#maryland {
    left: 989px;
    top: 319px;
}
#maine {
    left: 1114px;
    top: 92px;
}
#new-hampshire {
    left: 1103px;
    top: 159px;
}
#vermont {
    left: 1075px;
    top: 166px;
}
#massachusetts {
    left: 1089px;
    top: 218px;
}
#connecticut {
    left: 1090px;
    top: 243px;
}
#rhode-island {
    left: 1121px;
    top: 241px;
}
#new-jersey {
    left: 1064px;
    top: 273px;
}
#delaware {
    left: 1060px;
    top: 316px;
}

#texas:hover, #california:hover, #new-mexico:hover, #washington:hover, #oregon:hover, #idaho:hover, #nevada:hover, #montana:hover, #wyoming:hover, #utah:hover, #arizona:hover, #colorado:hover, #north-dakota:hover, #south-dakota:hover, #nebraska:hover, #kansas:hover, #oklahoma:hover, #minnesota:hover, #iowa:hover, #missouri:hover, #arkansas:hover, #louisiana:hover, #wisconsin:hover, #illinois:hover, #kentucky:hover, #tennessee:hover, #mississippi:hover, #michigan:hover, #indiana:hover, #alabama:hover, #florida:hover, #ohio:hover, #west-virginia:hover, #north-carolina:hover, #south-carolina:hover, #georgia:hover, #new-york:hover, #pennsylvania:hover, #virginia:hover, #maryland:hover, #maine:hover, #new-hampshire:hover, #vermont:hover, #massachusetts:hover, #connecticut:hover, #rhode-island:hover, #new-jersey:hover, #delaware:hover {
    opacity:1;
    cursor:pointer;
    transition:.5s ease-out;
    -moz-transition:.5s ease-out;
    -webkit-transition:.5s ease-out;
}
#heat-map {
    display:none;
    top:50%;
    left:50.5%;
    transform:translate(-50%,-50%);
    position:absolute;
    z-index: 14;
}
.temperature {
    background-color: white;
    border-radius: 50%;
    height:30px;
    width:30px;
    position: absolute;
    left:1200px;
    top:600px; 
    z-index: 19;
        cursor: pointer;

}
.temperature:hover ~ #heat-map {
    display:block;
    cursor: pointer;
/*    transition:.5s ease-out;
    -moz-transition:.5s ease-out;
    -webkit-transition:.5s ease-out;*/
}